* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: "poppins", sans-serif;
}

@mixin flex-Center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

// NAVBAR:

.nav {
  width: 100vw;
  height: 4rem;
  @include flex-Center();
  box-shadow: 2px 0 10px -2px #000;
  margin-bottom: 25px;
}

.nav__logo {
  width: 100px;
}

// HERO:

.hero {
  margin-bottom: 50px;
  @include flex-Center();
  flex-direction: column;
  &__img {
    margin-bottom: 35px;
    width: 50%;
  }

  &__content {
    margin-bottom: 50px;
  }

  &__head {
    margin-bottom: 15px;
    text-align: center;
    font-size: 35px;
    letter-spacing: -1px;
  }

  &__text {
    font-size: 22px;
    letter-spacing: 1.2px;
  }
}

// CARD:
.card_container {
  display: flex;
  justify-content: center;
}

.card {
  display: inline-block;
  width: 232px;
  margin: 0 30px;
  position: relative;
  margin-bottom: 20px;
  &::before {
    content: "SOLD OUT";
    background-color: #fff;
    font-weight: 600;
    padding: 0.15rem 0.5rem;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 0.3rem;
  }

  &__img {
    width: 232px;
    height: 310px;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  &__rating {
    margin-left: 5px;
    font-weight: 600;
  }
  &__reviewCount {
    margin-left: 5px;
    margin-right: 5px;
  }

  &__text {
    font-size: 15px;
    margin-bottom: 5px;
  }
}
