* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "poppins", sans-serif; }

.nav {
  width: 100vw;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 0 10px -2px #000;
  margin-bottom: 25px; }

.nav__logo {
  width: 100px; }

.hero {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .hero__img {
    margin-bottom: 35px;
    width: 50%; }
  .hero__content {
    margin-bottom: 50px; }
  .hero__head {
    margin-bottom: 15px;
    text-align: center;
    font-size: 35px;
    letter-spacing: -1px; }
  .hero__text {
    font-size: 22px;
    letter-spacing: 1.2px; }

.card_container {
  display: flex;
  justify-content: center; }

.card {
  display: inline-block;
  width: 232px;
  margin: 0 30px;
  position: relative;
  margin-bottom: 20px; }
  .card::before {
    content: "SOLD OUT";
    background-color: #fff;
    font-weight: 600;
    padding: 0.15rem 0.5rem;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 0.3rem; }
  .card__img {
    width: 232px;
    height: 310px;
    object-fit: cover;
    border-radius: 0.5rem; }
  .card__rating {
    margin-left: 5px;
    font-weight: 600; }
  .card__reviewCount {
    margin-left: 5px;
    margin-right: 5px; }
  .card__text {
    font-size: 15px;
    margin-bottom: 5px; }
